pyrogram==1.4.8
tgcrypto
requests
aiofiles
ffmpeg-python
asyncio
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
olefile
filetype
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
psutil
ffmpeg-python
flask
flask_restful
